@model IEnumerable<VLO.Models.HExtras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>Pago por horas extras</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSalario)
        </td>
        <td>
            @ViewBag.Total
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdExtras }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdExtras }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdExtras })
        </td>
    </tr>
}

</table>
