@model IEnumerable<VLO.Models.Turnos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTurno }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTurno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTurno })
        </td>
    </tr>
}

</table>
